<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cocos2dx.GbombSDKSample1"
    android:installLocation="auto"
    android:versionCode="3"
    android:versionName="1.2" >

    <uses-feature android:glEsVersion="0x00020000" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <!--
	  IMPORTANT: If you change the package name of this sample app, change
	  "com.parse.tutorials.pushnotifications.permission.C2D_MESSAGE" in the
	  lines below to match the new package name.
    -->
    <permission
        android:name="org.cocos2dx.cpp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="org.cocos2dx.cpp.permission.C2D_MESSAGE" />
    

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:debuggable="true" >

        <!-- Tell Cocos2dxActivity the name of our .so -->
        <meta-data
            android:name="android.app.lib_name"
            android:value="cocos2dcpp" />
 	    <activity
 	        android:screenOrientation="landscape"
 	        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
 	        android:name="com.facebook.LoginActivity"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity
 	        android:screenOrientation="landscape"
 	        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
 	        android:name="com.gbombgames.LoginActivity"/>
        <meta-data android:name="com.gbombgames.sdk.ApplicationId" android:value="@string/gbomb_app_id"/>
        

        <activity
            android:name="org.cocos2dx.cpp.AppActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.gbombgames.push.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--
				  IMPORTANT: If you change the package name of this sample app,
				  change "com.parse.tutorials.pushnotifications" in the lines
				  below to match the new package name.
                -->
                <category android:name="org.cocos2dx.cpp" />
            </intent-filter>
        </receiver>
    </application>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

</manifest>